<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body>

    <main class="container mt-5">

        <h1 class="text-center">Todos</h1>

        <ul class="list-group mx-auto w-50 fs-3">
            <% for(let todo of todos) {%>
                <%if(todo.completed){%>
                    <li class="list-group-item text-decoration-line-through border-1 d-flex"> 
                        <span><%=todo.task%></span>
                        <input todoId="<%=todo._id%>" class="ms-5" type="checkbox" checked="<%=todo.completed%>">
                     </li>
                <%}else{%>
                    <li class="list-group-item"> 
                        <%=todo.task%>
                        <input todoId="<%=todo._id%>" class="ms-5" type="checkbox">
                    </li>
                <%}%>
            <% } %>  
        </ul>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>